.logout {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    border: none;
    background: #ffd5ec;
}

.logout:hover {
    opacity: 0.5;
}